<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
      <add name="DWTaxLogging" 
           connectionString="metadata=res://*/LogEntity.csdl|res://*/LogEntity.ssdl|res://*/LogEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vODSQLWarehouse;initial catalog=DataWarehouse;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
           providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>