<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="MillisecondResponseRate" value="5000" />
    <add key="APIConUName" value="thoss_tech" />
    <add key="APIConPW" value="S^j*YUH4ELgP5xRv" />
    <add key="APIConTenant" value="Tech Electronics Pilot" />
    <add key="APIBaseURL" value="https://techelectronics.acumatica.com//entity/" />
    <add key="APIloginURL" value="auth/login" />
    <add key="APIUpdateURL" value="Default/23.200.001/Tax/" />
  </appSettings>
  <connectionStrings>
    <add name="DWTaxData" connectionString="metadata=res://*/TaxData.csdl|res://*/TaxData.ssdl|res://*/TaxData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vODSQLWarehouse;initial catalog=DataWarehouse;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LogData" connectionString="metadata=res://*/LogData.csdl|res://*/LogData.ssdl|res://*/LogData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vODSQLWarehouse;initial catalog=DataWarehouse;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DWTaxLog" connectionString="metadata=res://*/DWTaxLog.csdl|res://*/DWTaxLog.ssdl|res://*/DWTaxLog.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vODSQLWarehouse;initial catalog=DataWarehouse;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>