<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="MillisecondResponseRate" value="86400000"/>
    <add key="APIConU" value="AajVGdfN3cvhGd"/>
    <add key="APIConP" value="gdShXNQdGTFRDSVllKq51U"/>
    <add key="APIConTenant" value="Tech Electronics Pilot"/>
    <add key="APIlogin" value="4Wan9GbvgGd1F2L5RXa05WZv8SbvNmLhNWa0FWb1NWYuM3Yp52byR3YlxWZoNWZ09yL6MHc0RHa"/>
    <add key="APIUpdate" value="vgXYU9SMwAjLwAjMuMjMvQHb1FmZlR0L5RXa05WZv8SbvNmLhNWa0FWb1NWYuM3Yp52byR3YlxWZoNWZ09yL6MHc0RHa"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key= "Login" value="0nIc1HduFmblR3eiwlOiwFduFmblRnIcxiIcNVVt4WZiwlOiwVZsF2YvxmIcxiIc1HZy92dwtnIcpjIcRmcvd3czFGciwFLiwVfl1WYuV3eiwlOiwVZtFmbiw1e"/>
    <add key= "Update" value="0XX913e6ICXt9GdzV3YiwFL9JCX9BXdvJ3Zn5Wa0J3bwVmc7JCX6ICXlVHbhZnIctnOiwFc19mcHdmbpRncvBXZSJCXs0HMwADMuAjOiwVZ1xWY2JCX7pjIcRnb19WbBVGbiFGehRFeh1kIcxSfwADMw4CM6ICXlVHbhZnIctnOiwFduV3btFUZsJWY4FGVulWTiwFL91XZ0FmU4FGd7pjIcVWdsFmdiw1e6ICXlRXYShXYUJCXs0nIc1XZ0FGR0JXY0N3eiwFI6ICXlVHbhZnIctnOiwVZ0FGR0JXY0NlIct3W6ICXlxWdkVGajNFehRlIcxSfiwVfElEehR3eiwlOiwVZ1xWY2JCX7pjIcRUS4FGViw1e"/>
  </appSettings>
  <connectionStrings>
    <add name="LogData" connectionString="metadata=res://*/LogData.csdl|res://*/LogData.ssdl|res://*/LogData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vODSQLWarehouse;initial catalog=DataWarehouse;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="DWTaxLog" connectionString="metadata=res://*/DWTaxLog.csdl|res://*/DWTaxLog.ssdl|res://*/DWTaxLog.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vODSQLWarehouse;initial catalog=DataWarehouse;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
